# ==========================
# Python
# ==========================
backend/venv/
__pycache__/
*.py[cod]
*.log
.env

# ==========================
# Chroma Database
# ==========================
backend/chroma_db/

# ==========================
# Uploaded Files
# ==========================
backend/uploads/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Node
# ==========================
frontend/node_modules/

# ==========================
# Build
# ==========================
dist/
build/